<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profesores</title>
</head>
<body>
    <h1>Lista de Pacientes</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>otros Campos</th>
            </tr>
        </thead>
        <tbody>
            {% for curso in profesores %}
            <tr>
                <td>{{ curso[0] }}</td>
                <td>{{ curso[1] }}</td>
                <td>{{ curso[2] }}</td>
            </tr>
        </tbody>
    </table>
    



</body>
</html>