<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profesores2</title>
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'css/main2.css') }}">
</head>
<body>
    <h1>Lista de Estudiantes</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
                <th>Sexo</th>
            </tr>
        </thead>
        <tbody>
            {% for estudiante in estudiantes %}
            <tr>
                <td>{{ estudiante[0] }}</td>
                <td>{{ estudiante[1] }}</td>
                <td>{{ estudiante[2] }}</td>
                <td>{{ estudiante[3] }}</td>
                <td>{{ estudiante[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>