<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profesores</title>
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'css/main.css') }}">
</head>
<body>
    <h1>Lista de Pacientes</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Duracion</th>
            </tr>
        </thead>
        <tbody>
            {% for curso in curso %}
            <tr>
                <td>{{ curso[0] }}</td>
                <td>{{ curso[1] }}</td>
                <td>{{ curso[2] }}</td>
                <td>{{ curso[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>